.remove-border {
  border: none;
}
.card-margin {
  margin-left: 5%;
}
.card-scroll {
  height: 150px;
  overflow-y: scroll;
}

.card-scroll {
  height: 150px;
  overflow-y: scroll;
}
.text-anchor{
    cursor: pointer;
    color:cornflowerblue;
}